@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap'); 
.navbar{
    font-family: 'Metropolis', sans-serif;
    color: #0A033C;
}

#logo{
    width: 30vw;
    text-align: left;
    padding: 1rem;
}

#basic-nav-dropdown{
    margin-right: 3em;
    color: #0A033C;
}
#shop-link{
    margin-right: 3em;
    color: #0A033C;
}
#cart-link{
    margin-right: 1em;
    width:7vw;
    color: #0A033C;
}
#account-link{
    margin-right: 4em;
    width:7vw;
    color: #0A033C;
}
#navs{
    width:100%;
}
