*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.popup-container{

    position: absolute;
    top: 0;

    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.259);
}

.popup{
    display: flex;
    width: 900px;
    height: auto;
    background-color: #FFFFFF;
    padding: 60px;
    border-radius: 15px;
}

.popup-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid black;
    padding: 0px 30px 0px 0px;
}


.popup-left>h1{
    font-size: 40px;
   color: #0A033C;
   margin: 30px 0px ;
}


.popup-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 0px 0px 30px;
}


.popup-right>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-right>form>div{
    display: flex;

    align-items: center;
}


.popup-right>div>p{
    color: #5D5A6F;
    margin: 0px 0px 0px 10px;
}

.popup-right>p{
    color: #5D5A6F;
    margin: 20px 0px 20px 10px;
    text-align: center;
}

.popup-right>form>div{
    margin: 0px 0px 30px 0px;
}

.popup-right>form>label{
   color: #0A033C; 
}

.popup-right>form>div>input{
    border: 1px solid #DEDDE4;
    padding: 15px 30px;
    outline: none;
}


.popup-right>form>input[type="submit"]{
   background-color: #9C4DF4;
   width: 100%;
   padding: 15px 30px;
   margin: 0px 0px 20px 0px;
   border: none;
   outline: none;

   color: white;
   border-radius: 15px;
}



@media only screen and (max-width:1100px) {
    .popup{
        flex-direction: column;
    }

    .popup-left{
        width: 100%;
        border-right:none;
       align-items: center;
       padding: 0px 0px 30px 0px;
    }

    .popup-right{
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    .popup-left>h1{
        font-size: 20px;
    }

    .popup-left>svg:nth-child(3){
        transform: scale(0.7);
    }
    
    
}

.below sign in-1{
    position: absolute;
width: 141px;
height: 30px;
left: 500px;
top: 600px;

font-family: 'Metropolis';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */


color: #5D5A6F;

}
